@{
    ViewBag.Title = "Hovis Excellence";
}

<div class="content-wrap app-home">

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <section class="panel">
                <div class="panel-body" style="min-height: 250px">
                    <h3>
                        <a href="/section">
                            <img src="/Content/img/TOPS.png" alt="TOPS" width="200" />
                            <br />
                            <br />
                            Health &amp; Safety Management
                        </a>
                    </h3>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-4">

            <section class="panel">
                <div class="panel-body" style="height: 250px">
                    <h3>
                        <a href="/section">
                            <br />

                            <img src="/Content/img/lifelong-customer-loyalty.png" alt="TOPS" width="300" />
                            <br />
                            <br />
                            Life-Long Customer Loyalty
                        </a>
                    </h3>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-4">

            <section class="panel">
                <div class="panel-body" style="height: 250px">
                    <h3>
                        <a href="/section">
                            <img src="/Content/img/green-matters.png" alt="TOPS" width="200" />
                            <br />
                            <br />
                            Environmental Stewardship
                        </a>
                    </h3>
                </div>
            </section>
        </div>
    </div>
</div>