<header class="header">
    <h3>Documents / Manuals</h3>
</header>
<!-- content wrapper -->
<div class="content-wrap">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel bg-none">
                <div class="panel-group" id="accordion">
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                01 Policy
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="/section/document">01 - Title 1</a></li>
                                    <li><a href="/section/document">01 - Title 2</a></li>
                                    <li><a href="/section/document">01 - Title 3</a></li>
                                    <li><a href="/section/document">01 - Title 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                02 Risk Assessment & Planning a Risk Management Program
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="/section/document">02 - Title 1</a></li>
                                    <li><a href="/section/document">02 - Title 2</a></li>
                                    <li><a href="/section/document">02 - Title 3</a></li>
                                    <li><a href="/section/document">02 - Title 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                03 Implementing & Operating a Risk Management Program
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="/section/document">03 - Title 1</a></li>
                                    <li><a href="/section/document">03 - Title 2</a></li>
                                    <li><a href="/section/document">03 - Title 3</a></li>
                                    <li><a href="/section/document">03 - Title 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>