<header class="header">
    <h3>Document Title Goes Here</h3>
</header>
<!-- content wrapper -->
<div class="content-wrap">
    <div class="row">

        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/section">
                        < Back to documents
                    </a>
                </li>
            </ol>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <table class="table no-margin">

                    <tbody>
                        <tr>
                            <td class="col-md-4">Owner</td>
                            <td>Graham Patterson</td>
                        </tr>

                        <tr>
                            <td>Reference</td>
                            <td>123123</td>
                        </tr>

                        <tr>
                            <td>Issue Number</td>
                            <td>123123</td>
                        </tr>

                        <tr>
                            <td>Issue Date</td>
                            <td>12/12/2014</td>
                        </tr>

                        <tr>
                            <td>Description</td>
                            <td>Description description description description description description description description description</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <div class="col-md-6">

            <section class="panel">
                <header class="panel-heading">Files</header>
                <div class="panel-body">
                    <div class="fa-hover col-md-3 col-sm-4">
                        <h4>file1.docx</h4>
                        <button class="btn btn-default"><i class="fa fa-download"></i> View</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- /content wrapper -->